{% extends 'base_front_all.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main id="login">
        <div id="page_logs">
            <form method="post">

                <h1>Se connecter</h1>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}


                <label for="login">Adresse mail : </label></br>
                <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control"
                       placeholder="Mail" required autofocus>
                <label for="passwd">Mot de passe : </label></br>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                       required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <p class="under">Vous ne possedez pas encore de compte ? <a href="{{ path('subscribe') }}"> Cliquez
                        ici</a></p>
                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </main>
{% endblock %}
