.vertical-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.active{
  visibility: visible !important;
  opacity: 1 !important;
}

main{
  padding-top: 80px;
  min-height: 100vh;
}

.extra-space {
  display: block;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1023;
  background: rgba(63, 65, 75, 0.9);
  visibility: hidden;
  opacity: 0;
}

body{
  font-family:Montserrat;
  //background-color: #DBC5AD !important;
}

.btn-effect-color {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}


.btn-effect {
  margin: 10px;
  padding: 7px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  height: 50px;
  cursor: pointer;
  font-weight: 200;
  //box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-size: 20px;
  width: 250px;
  &:hover {
    background-position: right center; /* change the direction of the change here */
  }
}

