.text-menu{
  font-size: 18px;
  position: relative;
  top: -4px;
  font-family: Montserrat;
  cursor: pointer;
  color: white;
}

.closebtn{
  position: absolute !important;
  right: 20px!important;
  top: 12px!important;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.menu-white{
  background-color: white !important;
  box-shadow: rgb(204, 204, 204) 0px 0px 12px !important;
  .change_color, .text-menu{
    color: #000 !important;
  }
}

#menu{
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  display: flex;
  z-index: 1024;
  .header{
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  a{
    text-decoration: none;
    color: white;
    &:hover{
      transform: scale(1.05);
    }
  }

  .item-nav-bar{
    min-width: 100px;
    height: 29px;
    font-size: 20px;
    font-weight: 300;
    padding: 23px 25px;
    line-height: 17px;
    margin: 0 5px;
    text-align: center;
  }

  .item-nav-bar-button{
    margin-top: 14px;
    position: relative;
    max-width: 300px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid white;
    text-align: center;
    color: #fff !important;
    font-size: 14px;
    line-height: 15px;
    padding: 10px 20px;
    text-decoration: none !important;
  }

  .no_underline:hover{
    border: 0px solid !important;
  }

  .item-nav-bar-logo{
    width: 200px;
    height: 75px;
    img{
      width: 195px;
      height: 75px;
    }
  }
}

#menu-mobile{
  display: none;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  z-index: 1022 !important;

  .item-nav-bar-logo{
    width: 200px;
    height: 75px;
    img{
      width: 195px;
      height: 75px;
    }
  }

  
}

#header{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 0;
  background-color: white;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  padding: 50px 0 0 0;
  z-index: 1024 !important;
  color: black;
  overflow-x: hidden;
  text-decoration: none;
  transition: 0.5s;
  a{
    color: black;
    font-family: Montserrat;
    font-weight: 200;

    .btn-effect{
      margin:15px 0 0 0 !important;
      width: 185px !important;
    }
  }
  a:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .item-nav-bar{
    margin: 10px 0;
  }

  .header2{
    margin-bottom: 20px;
    text-align: right;
    font-size: 24px;

    a{
      position: relative;
      right: -30px;
    }
  }
}

@media (max-width: 1295px) {
  #menu{
    display: none;
  }

  #menu-mobile{
    display: flex;
    justify-content: space-between;

    div{
     height: 75px;
    }
  }
}

@media (max-width: 550px){
  #menu-mobile{
    .item-nav-bar-logo{
      width:140px;
      img{
        width: 140px;
        height: 60px;
        margin: 10px 0 0 0;
      }
    }
  }
}