<footer id="footer">
    <div class="container">
        <h2>Immovable Cy.Agents</h2>
        <span class="copyright">© 2018 <a href="#">Immovable Cy.Agents</a> tous droits réservés.</span>
        <p>Immovable Cy.Agents est une plateforme pour trouver le bien qui vous convient, de nombreux utilisateurs en sont ravis.</p>
    </div>
    <div class="container">
        <h3>Informations :</h3>
        <a href="#">CGV</a><br/>
        <a href="#">Mentions légale</a><br/>
        <a href="#">Contact</a><br/>
    </div>
    <div class="container">
        <h3>Nous suivre :</h3>
        <div class="all_logo">
            <div class="logo_facebook"></div>
            <div class="logo_insta"></div>
            <div class="logo_twit"></div>
        </div>
    </div>
</footer>