<footer id="footer">
    <div class="container">
        <h2>Vincent Personal Trainer</h2>
        <span class="copyright">© 2019 <a href="#">Vincent Personal Trainer</a> tous droits réservés.</span>
        <p>Vincent Personal Trainer est le meilleur endroit pour trouver le coach qu'il vous faut !</p>
    </div>
    <div class="container">
        <h3>Informations :</h3>
        <a href="#">CGV</a><br/>
        <a href="#">Mentions légale</a><br/>
        <a href="#">Contact</a><br/>
    </div>
    <div class="container">
        <h3>Nous suivre :</h3>
        <div class="all_logo">
            <div class="logo_facebook"></div>
            <div class="logo_insta"></div>
            <div class="logo_twit"></div>
        </div>
    </div>
</footer>