{% extends 'base_front.html.twig' %}

{% block title %}Accueil - Immovable Cy.Agents{% endblock %}


{% block body %}
    <main id="home">
        <h1>Vincent personal trainer</h1>
    </main>
{% endblock %}

{% block script %}

{% endblock %}
