{% extends 'base_front.html.twig' %}

{% block title %}Accueil - Immovable Cy.Agents{% endblock %}


{% block body %}

        <figure class="intro">
            {#<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/diver2.jpg" alt=""/>#}
            <img src="{{ asset('images/weight-lifting-man.jpg') }}" alt="Homme qui fait de sport"/>
            <figcaption class="caption">
                <p class="text-on-h1">N'en rêve pas,</p>
                <h1>Fais-le !</h1>
            </figcaption>
            <span class="overlay">
                <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                     y="0px"
                     viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                <path fill="#FFFFFF"
                      d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"/>
                </svg>
            </span>
        </figure>
        <section id="first-section">
            <div class="container">
                <div class="item">
                    <img src="{{ asset('images/calendar-icon.png') }}" alt="Icon">
                    <h2></h2>
                    <p></p>
                    <a href="#"></a>
                </div>
                <div class="item">
                    <img src="{{ asset('images/messenger-icon.png') }}" alt="Icon">
                    <h2></h2>
                    <p></p>
                    <a href="#"></a>
                </div>
                <div class="item">
                    <img src="{{ asset('images/programme-icon.png') }}" alt="Icon">
                    <h2></h2>
                    <p></p>
                    <a href="#"></a>
                </div>

            </div>
        </section>
{% endblock %}

{% block script %}
    <script>
        function inViewport($el) {
            var H = $(window).height(),
                r = $el[0].getBoundingClientRect(), t=r.top, b=r.bottom;
            return Math.max(0, t>0? H-t : (b<H?b:H));
        }

        $(window).on("scroll resize", function(){
            var window_offset = inViewport($('.intro'));
            $(".overlay").height(window_offset);
            $(".caption").css("bottom", (window_offset / 4) );
            if ((window_offset / 4) == 0 ){
                $( ".change_color" ).each(function( ) {
                    $(this).css('color','black');
                });
                $('.text-menu').css('color','black');
                $('#menu').css({
                    'background-color':'white',
                    'box-shadow':' 0 0 12px #ccc'
                })
            }
            else{
                $( ".change_color" ).each(function( ) {
                    $(this).removeAttr('style');
                });
                $('#menu').removeAttr('style');
                $('.text-menu').removeAttr('style');
            }
        });
    </script>
{% endblock %}
