{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta %}{% endblock %}" />

        {% block style %}
            <link rel='stylesheet' href='{{ asset('css/style.min.css') }}' />
            <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,700,900" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
            <link rel='stylesheet' href='{{ asset('css/fullcalendar.css') }}'/>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}

        {% block linkscript %}

        {% endblock %}

    </head>
    <body>
    {% include 'Front/header.html.twig' %}

    {% block body %}

    {% endblock %}

    {% include 'Front/footer.html.twig' %}

    </body>
</html>
<script>
    function openMenu() {

        $('#header').css({
            'width': '320px',
            'padding':'0 50px'
        });

        $('.extra-space').addClass('active');

    }

    function closeMenu() {
        $('#header').css({
            'width': '0px',
            'padding':'0px'
        });
        $('.extra-space').removeClass('active');
    }
</script>
{% block script %}

{% endblock %}