{% extends 'base_front_all.html.twig' %}
{# templates/base.html.twig #}
{% block title %}Immovable CA - Espace personnel{% endblock %}
{% block meta %}Immovable CA - Espace personnel{% endblock %}



{% block body %}
    <main id="user_account">
        <div class="bandeau">
            <h1>Mon espace</h1>
        </div>
        <section id="page">
            <section id="chat_user">
                <h3 class="title">Converser facilement avec nous</h3>
                {% include 'Message/container_chat_user.html.twig' with {'messages':messages,'chat':chat} %}
            </section>
        </section>
    </main>

{% endblock %}

{% block script %}
    <script>
        $(document).on('click', '#button_send_message', () => {
            var chat = $('#button_send_message').attr("data-id");
            var value = $('#zone_text').val();

            var json = {
                'id': chat,
                'value':value
            };

            console.log(value);

            var path = "{{ path('user_send_message')|escape('js') }}";
            $.post(path, json, function (retour) {
                $('#container_all_message').html(JSON.parse(retour));
                $('#zone_text').val('');
            });
        });

    </script>
{% endblock %}