{% extends 'base_admin.html.twig' %}

{% block body %}
    <div id="users" class="jumbotron">
        <h1 class="display-4">Conversation</h1>
        <p class="lead">Nombre d'utlisateur : </p>
        <hr class="my-4">
        <div class="container-chat">
            <div class="chats">
                <header>
                    <nav class="navbar navbar-light bg-light">
                        <div class="form-inline">
                            <input class="form-control mr-sm-2 search" type="search" placeholder="Rechercher" aria-label="Search">
                            <div class="btn btn-outline-success my-2 my-sm-0" onclick="searchUser()">Rechercher</div>
                        </div>
                    </nav>
                </header>
                <div id="result_search_chat">
                    {% include 'admin/Chat/list-chat.html.twig' with {'chats':chats} %}
                </div>
            </div>
            <div id="show_chat">

            </div>
        </div>





    </div>
{% endblock %}

{% block script %}
    <script>
        function searchUser(){
            var value = $('.search').val();
            var data = {'value':value}
            var path = "{{ path('ajax_search_user') | escape('js') }}";

            $.post(path, data, function(server){
                $('#result_search').html(server.html)
            })
        }
    </script>
{% endblock %}