{% for chat in chats %}
    <div class="item-chat" onclick="showChat({{ chat.id }})" id="chat_{{ chat.id }}">
        <header>
            <span class="name">{{ chat.user.firstname }} {{ chat.user.lastname }}</span>
            <span class="close">&times;</span>
        </header>
        <footer>
            statut :
        </footer>
    </div>
{% endfor %}